In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('initial_data.xlsx')
df

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
0,2022-03-16,21:27:25,23.9,7795,15.3,1035.755,-185.71,122.40,195.84,0.021582,3.302036,8.606722e+03,0.026186,486.907098,Bad
1,2022-03-16,21:35:44,23.9,6582,15.3,1035.780,-185.91,122.40,195.84,0.021582,3.302036,7.267408e+03,0.028918,485.541233,Bad
2,2022-03-16,21:35:56,23.9,5703,15.3,1035.815,-186.20,122.40,195.84,0.021582,3.302036,6.296875e+03,0.025056,487.472144,Bad
3,2022-03-16,21:38:56,23.9,1268,15.3,1035.820,-186.24,122.40,195.84,0.021582,3.302036,1.400042e+03,0.005571,497.214568,Bad
4,2022-03-16,21:41:56,23.9,1949,15.4,1035.824,-186.27,122.40,195.84,0.021582,3.323618,2.153350e+03,0.008568,495.715833,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55626,2022-04-09,17:01:10,22.1,1186891,19.0,992.727,172.29,110.16,97.92,0.019473,3.699964,1.326225e+06,1.000000,0.000000,Good
55627,2022-04-09,17:01:12,22.2,43303,19.0,992.725,172.30,110.16,97.92,0.019586,3.721296,4.841748e+04,0.192657,403.671713,Bad
55628,2022-04-09,17:01:13,22.2,45661,19.0,992.729,172.27,110.16,97.92,0.019586,3.721296,5.105398e+04,0.203147,398.426300,Bad
55629,2022-04-09,17:01:14,22.3,51183,19.0,992.732,172.24,110.16,97.92,0.019699,3.742735,5.726499e+04,0.227861,386.069262,Bad
55630,2022-04-09,17:03:01,22.2,409627,19.0,992.728,172.28,110.16,97.92,0.019586,3.721296,4.580076e+05,1.000000,0.000000,Good

In [13]:
df[(df.date == '2022-04-05') & (df.total == 'Good')]

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
52522,2022-04-05,12:08:59,22.1,238207,25.9,976.883,307.27,134.64,55.08,0.019473,5.043635,277119.575919,1.0,0.0,Good
52527,2022-04-05,12:09:21,22.2,294163,25.9,976.852,307.54,134.64,30.60,0.019586,5.072715,342515.006413,1.0,0.0,Good

In [30]:
df[(df.date == '2022-04-01')].iloc[0, 1]

datetime.time(0, 0, 5)

In [31]:
df[(df.date == '2022-04-01')].iloc[-1, 1]

datetime.time(16, 30, 32)

In [34]:
my_excel = pd.read_excel('..\existing_matrix.xlsx')
my_excel

,date,time,behaviour,start,number,"step, s",Unnamed: 6,Баланс,51
0,2022-04-05,10:25:40,good,10:20:00,35.0,00:00:10,NaN,Хорошие,28.000000
1,2022-04-05,10:27:00,good,10:20:00,43.0,NaN,NaN,Плохие,23.000000
2,2022-04-05,10:27:40,good,10:20:00,47.0,NaN,NaN,Отношение,1.217391
3,2022-04-05,10:27:50,good,10:20:00,48.0,NaN,NaN,NaN,NaN
4,2022-04-05,10:28:10,good,10:20:00,50.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
66,2022-04-05,10:49:56,NaN,10:50:06,NaN,NaN,NaN,NaN,NaN
67,2022-04-05,10:49:56,NaN,10:50:06,NaN,NaN,NaN,NaN,NaN
68,2022-04-05,10:49:56,NaN,10:50:06,NaN,NaN,NaN,NaN,NaN
69,2022-04-05,10:49:56,NaN,10:50:06,NaN,NaN,NaN,NaN,NaN
70,2022-04-05,10:49:56,NaN,10:50:06,NaN,NaN,NaN,NaN,NaN

In [37]:
df[(df.date ==my_excel.date[0]) & (df.time >= my_excel.time[0]) & (df.time <= my_excel.time[1])]

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
51914,2022-04-05,10:25:41,20.9,99702,26.1,977.958,298.06,67.32,15.3,0.018169,4.742102,114944.429274,0.457372,271.313974,Bad
51915,2022-04-05,10:25:51,20.9,100480,26.0,977.961,298.04,67.32,15.3,0.018169,4.723933,115778.245463,0.460690,269.655067,Bad
51916,2022-04-05,10:26:01,20.9,99348,26.0,977.968,297.97,67.32,15.3,0.018169,4.723933,114473.896599,0.455500,272.250116,Bad
51917,2022-04-05,10:26:11,20.9,99230,26.0,977.966,297.99,67.32,15.3,0.018169,4.723933,114337.930905,0.454959,272.520624,Bad
51918,2022-04-05,10:26:21,20.9,99643,25.9,977.967,297.99,67.32,15.3,0.018169,4.705764,114751.246420,0.456603,271.698318,Bad
51919,2022-04-05,10:26:32,20.9,99230,25.8,977.962,298.03,67.32,15.3,0.018169,4.687595,114213.354660,0.454463,272.768473,Bad
51920,2022-04-05,10:26:42,20.9,98704,25.9,977.964,298.01,67.32,15.3,0.018169,4.705764,113669.871708,0.452300,273.849752,Bad
51921,2022-04-05,10:26:52,20.9,98645,26.0,977.957,298.07,67.32,15.3,0.018169,4.723933,113663.863691,0.452277,273.861705,Bad

datetime.time(10, 25, 40)