In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('initial_data.xlsx')
df

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
0,2022-03-16,21:27:25,23.9,7795,15.3,1035.755,-185.71,122.40,195.84,0.021582,3.302036,8.606722e+03,0.026186,486.907098,Bad
1,2022-03-16,21:35:44,23.9,6582,15.3,1035.780,-185.91,122.40,195.84,0.021582,3.302036,7.267408e+03,0.028918,485.541233,Bad
2,2022-03-16,21:35:56,23.9,5703,15.3,1035.815,-186.20,122.40,195.84,0.021582,3.302036,6.296875e+03,0.025056,487.472144,Bad
3,2022-03-16,21:38:56,23.9,1268,15.3,1035.820,-186.24,122.40,195.84,0.021582,3.302036,1.400042e+03,0.005571,497.214568,Bad
4,2022-03-16,21:41:56,23.9,1949,15.4,1035.824,-186.27,122.40,195.84,0.021582,3.323618,2.153350e+03,0.008568,495.715833,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55626,2022-04-09,17:01:10,22.1,1186891,19.0,992.727,172.29,110.16,97.92,0.019473,3.699964,1.326225e+06,1.000000,0.000000,Good
55627,2022-04-09,17:01:12,22.2,43303,19.0,992.725,172.30,110.16,97.92,0.019586,3.721296,4.841748e+04,0.192657,403.671713,Bad
55628,2022-04-09,17:01:13,22.2,45661,19.0,992.729,172.27,110.16,97.92,0.019586,3.721296,5.105398e+04,0.203147,398.426300,Bad
55629,2022-04-09,17:01:14,22.3,51183,19.0,992.732,172.24,110.16,97.92,0.019699,3.742735,5.726499e+04,0.227861,386.069262,Bad
55630,2022-04-09,17:03:01,22.2,409627,19.0,992.728,172.28,110.16,97.92,0.019586,3.721296,4.580076e+05,1.000000,0.000000,Good

In [13]:
df[(df.date == '2022-04-05') & (df.total == 'Good')]

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
52522,2022-04-05,12:08:59,22.1,238207,25.9,976.883,307.27,134.64,55.08,0.019473,5.043635,277119.575919,1.0,0.0,Good
52527,2022-04-05,12:09:21,22.2,294163,25.9,976.852,307.54,134.64,30.60,0.019586,5.072715,342515.006413,1.0,0.0,Good

In [11]:
df[(df.date == '2022-04-05')].iloc[0, 1]

datetime.time(0, 0, 5)

In [12]:
df[(df.date == '2022-04-05')].iloc[-1, 1]

datetime.time(13, 23, 8)

In [13]:
df[((df.total == 'Good') | (df.total == 'Middle')) & (df.date == '2022-04-05')]

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
48237,2022-04-05,00:00:05,21.1,164700,17.9,988.346,209.44,0.00,0.00,0.018381,3.290197,181786.250885,0.723340,138.329795,Middle
48238,2022-04-05,00:00:15,21.1,165842,17.9,988.342,209.47,0.00,0.00,0.018381,3.290197,183046.723857,0.728356,135.822039,Middle
48239,2022-04-05,00:00:25,21.1,164700,17.9,988.339,209.50,0.00,0.00,0.018381,3.290197,181786.250885,0.723340,138.329795,Middle
48240,2022-04-05,00:00:36,21.1,164700,17.9,988.338,209.51,0.00,0.00,0.018381,3.290197,181786.250885,0.723340,138.329795,Middle
48241,2022-04-05,00:00:46,21.1,164538,17.9,988.336,209.52,0.00,0.00,0.018381,3.290197,181607.444737,0.722629,138.685536,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,2022-04-05,01:42:00,21.0,135737,20.2,987.205,219.13,0.00,0.00,0.018275,3.691492,151633.126429,0.603359,198.320508,Middle
48866,2022-04-05,01:47:06,21.0,135628,20.3,987.144,219.65,0.00,0.00,0.018275,3.709767,151594.449048,0.603205,198.397458,Middle
48872,2022-04-05,01:48:07,21.0,135299,20.4,987.110,219.95,0.00,0.00,0.018275,3.728042,151309.649875,0.602072,198.964076,Middle
52522,2022-04-05,12:08:59,22.1,238207,25.9,976.883,307.27,134.64,55.08,0.019473,5.043635,277119.575919,1.000000,0.000000,Good
52527,2022-04-05,12:09:21,22.2,294163,25.9,976.852,307.54,134.64,30.60,0.019586,5.072715,342515.006413,1.000000,0.000000,Good

In [9]:
# df[(df.date ==my_excel.date[0]) & (df.time >= my_excel.time[0]) & (df.time <= my_excel.time[1])]

datetime.time(10, 25, 40)