In [15]:
import pandas as pd

In [16]:
df = pd.read_excel('initial_data.xlsx')
df

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
0,2022-03-16,21:27:25,23.9,7795,15.3,1035.755,-185.71,122.40,195.84,0.021582,3.302036,8.606722e+03,0.026186,486.907098,Bad
1,2022-03-16,21:35:44,23.9,6582,15.3,1035.780,-185.91,122.40,195.84,0.021582,3.302036,7.267408e+03,0.028918,485.541233,Bad
2,2022-03-16,21:35:56,23.9,5703,15.3,1035.815,-186.20,122.40,195.84,0.021582,3.302036,6.296875e+03,0.025056,487.472144,Bad
3,2022-03-16,21:38:56,23.9,1268,15.3,1035.820,-186.24,122.40,195.84,0.021582,3.302036,1.400042e+03,0.005571,497.214568,Bad
4,2022-03-16,21:41:56,23.9,1949,15.4,1035.824,-186.27,122.40,195.84,0.021582,3.323618,2.153350e+03,0.008568,495.715833,Bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55626,2022-04-09,17:01:10,22.1,1186891,19.0,992.727,172.29,110.16,97.92,0.019473,3.699964,1.326225e+06,1.000000,0.000000,Good
55627,2022-04-09,17:01:12,22.2,43303,19.0,992.725,172.30,110.16,97.92,0.019586,3.721296,4.841748e+04,0.192657,403.671713,Bad
55628,2022-04-09,17:01:13,22.2,45661,19.0,992.729,172.27,110.16,97.92,0.019586,3.721296,5.105398e+04,0.203147,398.426300,Bad
55629,2022-04-09,17:01:14,22.3,51183,19.0,992.732,172.24,110.16,97.92,0.019699,3.742735,5.726499e+04,0.227861,386.069262,Bad
55630,2022-04-09,17:03:01,22.2,409627,19.0,992.728,172.28,110.16,97.92,0.019586,3.721296,4.580076e+05,1.000000,0.000000,Good

In [17]:
df[(df.date == '2022-04-06') & (df.total == 'Good')]

Empty DataFrame
Columns: [date, time, temp (C), gas (ohm), humidity (%), pressure (hPa), altitude (m), luminance window (lux), luminance door (lux), rho_max, hum_abs, comp_gas, AQ, IAQ, total]
Index: []

In [22]:
df[(df.date == '2022-04-01')].iloc[0, 1]

datetime.time(0, 0, 5)

In [23]:
df[(df.date == '2022-04-01')].iloc[-1, 1]

datetime.time(16, 30, 32)

In [21]:
df[((df.total == 'Good') | (df.total == 'Middle')) & (df.date == '2022-04-01')]1

,date,time,temp (C),gas (ohm),humidity (%),pressure (hPa),altitude (m),luminance window (lux),luminance door (lux),rho_max,hum_abs,comp_gas,AQ,IAQ,total
31759,2022-04-01,00:00:05,21.7,146416,16.4,1012.903,2.89,0.00,0.00,0.019030,3.120910,160786.785733,0.639782,180.108977,Middle
31760,2022-04-01,00:00:15,21.7,146288,16.4,1012.911,2.82,0.00,0.00,0.019030,3.120910,160646.222485,0.639223,180.388633,Middle
31761,2022-04-01,00:00:25,21.7,145147,16.4,1012.908,2.85,0.00,0.00,0.019030,3.120910,159393.232904,0.634237,182.881500,Middle
31762,2022-04-01,00:00:35,21.7,146930,16.4,1012.919,2.76,0.00,0.00,0.019030,3.120910,161351.235028,0.642028,178.985985,Middle
31763,2022-04-01,00:00:45,21.7,146930,16.4,1012.910,2.83,0.00,0.00,0.019030,3.120910,161351.235028,0.642028,178.985985,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35519,2022-04-01,12:31:11,22.8,137521,20.8,1015.571,-19.31,538.56,110.16,0.020271,4.216420,156064.477518,0.620992,189.504177,Middle
35520,2022-04-01,12:31:19,22.8,134430,20.8,1015.578,-19.36,538.56,110.16,0.020271,4.216420,152556.683799,0.607034,196.483057,Middle
35521,2022-04-01,12:31:23,22.8,385559,20.8,1015.621,-19.73,538.56,110.16,0.020271,4.216420,437548.184550,1.000000,0.000000,Good
35958,2022-04-01,16:08:13,23.5,169534,18.4,1014.712,-12.17,183.60,22.95,0.021097,3.881866,190472.812583,0.757905,121.047572,Middle
35963,2022-04-01,16:30:02,23.2,151173,16.2,1014.529,-10.64,171.36,183.60,0.020740,3.359827,167204.845242,0.665320,167.340020,Middle

In [9]:
# df[(df.date ==my_excel.date[0]) & (df.time >= my_excel.time[0]) & (df.time <= my_excel.time[1])]

datetime.time(10, 25, 40)